<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% trees.forEach(tree => { %>
    <a href="/trees/<%= tree.id %>">
      <img class="book-cover <%= bookCoverClass %>" src="<%= tree.coverImagePath %>">
      <%= tree.tree_name %>
    </a>
  <% }) %>
</div>