<h2 class="page-header">Search Categories</h2>
<form action="/categories" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Category Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary search-button" type="submit"><i class="fas fa-search"></i></button>
  </div>
</form>
<br>
<% categories.forEach(category => { %>
  <div class="author-row">
    <div class="author-name"><%= category.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary view-button" href="/categories/<%= category.id %>" title="View category"><i class="fas fa-eye"></i></a>
      <a class="btn btn-primary edit-button" href="/categories/<%= category.id %>/edit" title="Edit category"><i class="fas fa-pen"></i></a>
      <%- include('../partials/deleteForm',
                  { url: `/categories/${category.id}` }) %>
    </div>
  </div>
<% }) %>